apiVersion: apps/v1
kind: Deployment
metadata:
  name: hpa-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hpa-demo
  template:
    metadata:
      labels:
        app: hpa-demo
    spec:
      containers:
      - name: hpa-demo
        image: <your-dockerhub-username>/hpa-demo:latest
        ports:
        - containerPort: 5000
        resources:
          requests:
            cpu: "200m"
          limits:
            cpu: "500m"
